.counter {
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.control-button {
    font-size: 20px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 1px solid rgb(16, 0, 54);
    transition: 0.2s ease-in-out;
}

.control-button:hover {
    background-color: #bfbfbf;
}